* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-size: max(min(16px, calc(8px + 1vw)), 14px);
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.container {
    height: 100%;
    width: 100%;
    background-image: url('./bg.svg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    height: clamp(500px, 40vh, 800px);
    width: clamp(750px, 60vw, 900px);
    background-color: rgb(166, 199, 214);
    border-radius: 5rem;
    box-shadow: 5px 5px 50px black;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr ;
    grid-template-columns: 1fr;
}

.title {
    grid-row: 1 / 2;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.middle {
    position: relative;
    grid-row: 2 / 3;
    display:grid;
    grid-template-columns: 1fr 5px 4fr;
}

.bottom {
    grid-row: 3 / 4;
}


nav {
    grid-column: 1 / 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    align-items: center;
}

nav>*, li>button {
    background-color: inherit;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    justify-content: center;
}

nav>* {
    width: 80%;
}

.bar {
    height: 5px;
    border-radius: 5px;
    background-color: white;
}

.bar2 {
    grid-column: 2 / 3;
    width: 5px;
    height: 100%;
    border-radius: 5px;
    background-color: white;
}



.date_options {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    gap:5px;
}

li>button {
    width: 100%;
    font-size: 1.2rem;
}

button {
    position: relative;
}

.button-bg {
    display: inline;
    position: absolute;
    top: 0;
    left: -5px;
    height: 100%;
    width: 0%;
    background-color: rgba(98, 139, 167, 0.5);
    z-index: 0;
    border-radius: 5px;
}

.text {
    position:relative;
    z-index: 1;
}

li {
    width: 80%;
    position: relative;
}

@keyframes button-hover {
    from {width: 0%;}
    to {width: calc(100% + 5px);}
}

nav>button:hover>.button-bg, .date_options>li:hover>.button-bg {
    animation: button-hover;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.tasks {
    height: 100%;
}

.taskList {
    position: absolute;
    grid-column: 3 / 4;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:auto;
    gap: 10px;

}

.task {
    width: 90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    border-radius: 5px;
    padding:10px;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.destruction {
    width: 1rem;
    height: 100%;
    position:absolute;
    right: -1rem;
    background-color: red;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.task>* {
    display: inline;
}

.task_title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.high {background-color: coral;}
.medium {background-color: rgb(248, 164, 133);}
.low {background-color: rgb(255, 207, 189);}

h2 {
    color:white;
    text-shadow: 0 0 3px gray;
}
.desc {
    color:white;
    text-shadow: 0 0 3px gray;



    
    overflow-wrap: break-word;
}

.task>input {
    max-width: 40%;
}

.bottom {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {

    width: 80%;
    border-radius: 1rem;
    font-size: 2rem;
    color:green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.project_add {
    box-sizing: border-box;
    width: 80%;
    height: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: rgb(148, 255, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
 

.fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    --sizer: 500px;
    width: clamp(calc(var(--sizer) - 150px), 50vw, 700px);
    height: clamp(var(--sizer), 80vh, 1000px);
    background-color: white;
    border: 5px solid cornflowerblue;
    background-color: lightblue;
    border-radius: 30px;
    
}

.left {
    max-width: 60%;
}

.radio {
    border:none;
    border-top: 5px solid cornflowerblue;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

label {
    font-size: 1.5rem;
}

label, legend {
    text-align: center;
    color:white;
    font-weight: 700;
    text-shadow: 0px 0px 5px black;
}
legend {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2rem;
    border: 5px solid cornflowerblue;
    border-radius: 20px;
    background-color: lightblue;

}

textarea {
    font:inherit;
    text-align: center;
    padding: 0.3rem;
}

.form_buttons>button {

    height: 100%;
    width: 40%;
    align-self: center;
    border-radius: 1rem;
    justify-self: flex-end;
    border:none;
    color:white;
    font-size: 2rem;
    text-shadow: 0px 0px 5px white;
}

.form_buttons {
    box-sizing: border-box;
    margin-top: 10%;
    display:flex;
    justify-content: center;
    gap:20px;
    height: 10%;
    width:100%;
    margin-bottom: 1rem;
}

.submit {
    background-color:rgb(4, 165, 4);
}
.destroy {
    background-color: rgb(170, 5, 5);
}

input[type = "text"] {
    font-size: 1.5rem;
    text-align: center;
} 


fieldset>input[type = "datetime-local"] {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.project_container {
    box-sizing: border-box;
    position: absolute;
    grid-column: 3 / 4;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10.5rem);
    grid-template-rows: repeat(auto-fit, 13.5rem);
    justify-content: center;

    gap: 0.5rem;

    overflow:auto;
    flex-wrap: wrap;
}

.project_container>.add_project {
    
    width: 3rem;
    height: 3rem;
    background-color: rgb(131, 255, 127);
    color: white;
    font-size: 2rem;
    /*display: flex;
    justify-content: center;
    align-items: center;*/

    justify-self: center;
    border: none;
    border-radius: 3rem;
    margin-top: 2.5rem;
}

.project {
    position: relative;

    box-sizing: border-box;
    border: 5px solid coral;
    height: 12rem;
    width: 10rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: rgb(48, 152, 250);
    border-radius: 1rem;
    margin-top: 1rem;
}

.project_title {
    color:white;
    overflow:hidden;
    text-align: center;
    width: 100%;
    min-height: 2em;
    max-height: 2em;
    line-height: 1em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-shadow: 0px 0px 5px black;
}

.project_description {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    --b_color: white;
    border-top: 0px solid var(--b_color);
    border-bottom: 0px solid var(--b_color);
}

.project_description>* {
    width: 100%;
    text-align: center;
    height: 1rem;
    text-shadow: 0px 0px 5px black;


}

.project_name_inp {
    text-align: center;
    font-size:1rem;
}

.destroy_project {
    box-sizing: content-box;
    position: absolute;
    top: -1rem;
    border: 5px solid coral;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    width: 100%;
    height: 1rem;
    background-color: rgb(165, 4, 4);
}

.project_name_submit {
    width: 100%;
    height: 20%;
    background-color: rgb(55, 185, 51);
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:none;
}

.home_container {
    background-color: bisque;
    border-radius: 10px;
    grid-column: 3 / 4;
    position: absolute;
    width: 90%;
    height: 100%;
    justify-self: center;
}

.home_container>* {
    font-weight: 700;
    font-size: min(calc(6vw), 48px);
    text-align: center;
    
}

.home_top {
    text-shadow: 0 0 10px white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    align-items: center;
    box-sizing: content-box;
}

.project_info {
    color: coral;
}

.project_data {
    height: min(20vh, 200px);
    display: flex;
    flex-direction: column;
    border: 5px solid cornflowerblue;
    background-color: lightblue;
    border-radius: 10px;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.task_info {
    color:green;
}

.today_info {
    text-shadow: 0 0 10px white;

    color:rgb(48, 152, 250);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    html {
        min-height: 100%;
        height: auto;
    }
    body {
        min-height: 100vh;
    }
    .container {
        min-height: 100vh;
    }
    [class="base"] {
        height: 100%;
        border-radius: 0;
    }
    [class="middle"] {
        grid-template-rows: 1fr 5px 1.7fr;
        grid-template-columns: 1fr;
        height: 100%;
    }
    [class="navigator"] {
        grid-row: 1/2;
        grid-column: 1 / -1;
    }
    [class="bar2"] {
        display: none;
    }

    [class="project_container"] {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        background-color: rgb(0, 107, 156);
    }
    [class="taskList"] {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        background-color: rgb(0, 107, 156);

    }
    [class="home_container"] {
        grid-row: 3 / 4;
        width: 100%;
        height: 100%;
        grid-column: 1 / -1;
        border-radius: 0;
    }
    .home_container>* {
        font-size: 3rem;
    }

    .task {
        width: 80%;
        margin-top: 10px;
    }

    [type = "datetime-local"] {
        min-height: 2em;
    max-height: 2em;
    line-height: 1em;
    font-size: 0.8rem;

    }

    
}


.hidden {
    display: none;
}